<div class="grid grid-cols-12 gap-4 lg:gap-8">
  <div class="col-span-6 md:col-span-3 border rounded px-4 lg:px-8 py-8 lg:py-16">
    <span class="text-accent mb-5">
			<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" style="fill: red;" fill="currentColor" class="bi bi-heart-fill mb-5" viewBox="0 0 16 16">
				<path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
			</svg>
		</span>
    <h6>Tổng lượt mua</h6>
    <div class="count mb-3 mt-5">{{countBuy || 'Chưa có'}}</div>
    <a [routerLink]="'/dashboard/saved-items'" class="font-semibold" mat-flat-button color="warn">Xem tất cả</a>
  </div>
  <div class="col-span-6 md:col-span-3 border rounded px-4 lg:px-8 py-8 lg:py-16">
    <span class="text-accent mb-5">
			<svg xmlns="http://www.w3.org/2000/svg" style="fill: green;" width="22" height="22" fill="currentColor" class="bi bi-person-fill-check mb-5" viewBox="0 0 16 16">
				<path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
				<path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
			</svg>
		</span>
    <h6>Online</h6>
    <div class="count mb-3 mt-5">{{online || 0}}</div>
    <a [routerLink]="'/dashboard/orders'" class="font-semibold" mat-flat-button color="warn">Xem tất cả</a>
  </div>
  <div class="col-span-6 md:col-span-3 border rounded px-4 lg:px-8 py-8 lg:py-16">
    <span class="text-accent mb-5">
			<svg xmlns="http://www.w3.org/2000/svg" style="fill: rgb(223, 200, 53);" width="22" height="22" fill="currentColor" class="bi bi-person-fill-dash mb-5" viewBox="0 0 16 16">
				<path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7M11 12h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1 0-1m0-7a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
				<path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
			</svg>
		</span>
    <h6>Offline</h6>
    <div class="count mb-3 mt-5">{{offline || 0}}</div>
    <a [routerLink]="'/dashboard/orders'" class="font-semibold" mat-flat-button color="warn">Xem tất cả</a>
  </div>
	<div class="col-span-6 md:col-span-3 border rounded px-4 lg:px-8 py-8 lg:py-16">
    <span class="text-accent mb-5">
			<svg xmlns="http://www.w3.org/2000/svg" style="fill: green;" width="22" height="22" fill="currentColor" class="bi bi-cash-stack mb-5" viewBox="0 0 16 16">
				<path d="M1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1zm7 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
				<path d="M0 5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V7a2 2 0 0 1-2-2z"/>
			</svg>
		</span>
    <h6>Tổng tiền</h6>
    <div class="count mb-3 mt-5">{{allMoney | currency:'VND':'symbol':'1.0-0'}}</div>
    <a [routerLink]="'/dashboard/orders'" class="font-semibold" mat-flat-button color="warn">Xem tất cả</a>
  </div>
</div>
<div>
	<h5 class="mb-3 font-medium">Thông tin người dùng:</h5>
	<div class="table-inside">
		<table class="order-table table-auto ltMd:responsive">
			<thead>
				<tr class="border text-left">
					<th>
						<span class="text-gray-800">STT</span>
					</th>
					<th>
						<span class="text-gray-800">ID</span>
					</th>
					<th>
						<span class="text-gray-800">Họ tên</span>
					</th>
					<th>
						<span class="text-gray-800">Số tiền thanh toán</span>
					</th>
					<th>
						<span class="text-gray-800">Lần mua cuối</span>
					</th>
	
					<th>
						<span class="text-gray-800">Trạng thái</span>
					</th>
					<th class="text-right">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let order of orders| paginate: { itemsPerPage: 10, currentPage: p }, let i = index" class="border">
					<td>
						<a><td>{{pageSize*(pageIndex-1) +i+1}}</td></a>
					</td>
					<td>
						<a class="text-primary" href="/">{{order?.id}}</a>
					</td>
					<td>
						{{order?.orderBy | titlecase }}
					</td>
					<td>
						<span>{{order?.price | currency:'VND':'symbol':'1.0-0' }}</span>
					</td>
					<td>
						<span>{{order?.created}}</span>
					</td>
					<td>
						<div [ngClass]="{

							'bg-yellow-500 text-yellow-500': order?.status === '1',
							'bg-primary text-primary': order?.status === '0'
							}" 
							class="text-[12px] bg-opacity-20 rounded-full px-3 inline-block font-bold py-[3px]"
						>
							<!-- {{ order?.status | titlecase }}
							 -->
							<span *ngIf="order?.status === '0'">Online</span>
							<span *ngIf="order?.status === '1'">Offline</span>
						</div>
					</td>
					<td class="text-right">
						<button class="action_icon__btn" mat-icon-button [matMenuTriggerFor]="menu">
							<mat-icon>more_vert</mat-icon>
						</button>
						<mat-menu #menu="matMenu" xposition="before">
							<button mat-menu-item>
								<svg xmlns="http://www.w3.org/2000/svg" style="color: rgb(20, 177, 198);" width="22" height="22" fill="currentColor" class="bi bi-grid-3x2-gap mr-2" viewBox="0 0 16 16">
									<path d="M4 4v2H2V4zm1 7V9a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1m0-5V4a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1m5 5V9a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1m0-5V4a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1M9 4v2H7V4zm5 0h-2v2h2zM4 9v2H2V9zm5 0v2H7V9zm5 0v2h-2V9zm-3-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1zm1 4a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1z"/>
								</svg>
								<span>Chi tiết</span>
							</button>
							<button mat-menu-item>
								<svg xmlns="http://www.w3.org/2000/svg" style="color: red;" width="18" height="18" fill="currentColor" class="bi bi-trash3-fill mr-2" viewBox="0 0 16 16">
									<path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
								</svg>
								<span >Xóa</span>
							</button>
						</mat-menu>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="align-item-center text-center mt-4">
	<pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
</div>