<div class="pt-40 pb-20 bg-gray-100 text-center">
  <div class="container">
    <h3>LIÊN HỆ VỚI CHÚNG TÔI</h3>
    <!-- <nav class="breadcrumb flex justify-center items-center">
      <a class="px-1 mr-3 text-gray-500 hover:text-black" [routerLink]="'/'">Home</a>
      <a class="px-1" href="javascript:void(0)" class="text-accent">Contact</a>
    </nav> -->
  </div>
</div>
<div class="pt-20">
  <div class="container">
    <div class="grid grid-cols-12 gap-4 lg:gap-8 xxl:gap-16">
      <div class="contact__form col-span-12 lg:col-span-7">
        <div class="mb-8">
          <h3>Đặt câu hỏi</h3>
          <p>Hãy nhập thông tin mà bạn muốn chúng tôi giải đáp:</p>
        </div>
        <form>
          <div class="flex flex-wrap sm:flex-nowrap sm:space-x-5 mt-3">
            <input type="text" placeholder="Họ tên" class="border border-gray-200 p-2 px-4 w-full sm:w-1/2 rounded-sm" />
            <input
              type="number"
              placeholder="Số điện thoại"
              class="border border-gray-200 p-2 px-4 w-full sm:w-1/2 rounded-sm mt-3 sm:mt-0"
            />
          </div>
          <input type="email" placeholder="Email" class="border border-gray-200 p-2 px-4 w-full rounded-sm mt-5" />
          <!-- <input type="text" placeholder="Subject" class="border border-gray-200 p-2 px-4 w-full rounded-sm mt-5" /> -->
          <textarea
            cols="10"
            rows="3"
            placeholder="Nhập điều gì đó..."
            [value]="''"
            class="border border-gray-200 p-3 mt-5 w-full rounded-sm mt-5"
          >
          </textarea>
          <button class="px-5 py-2 bg-accent text-white mt-5 rounded font-medium">Gửi</button>
        </form>
      </div>
      <div class="col-span-12 lg:col-span-5 bg-black bg-opacity-90 text-white rounded p-8 xxl:px-16 mt-10 lg:mt-0">
        <h3>Thông tin của chúng tôi:</h3>
        <div class="flex space-x-4 mt-14">
          <div class="flex pt-1 bg-purple-600 rounded-lg">
            <mat-icon color="accent">settings_phone</mat-icon>
          </div>
          <div class="flex-1">
            <span class="text-gray-300 font-semibold">Số điện thoại:</span>
            <br />
            <span class="text-gray-300 font-semibold hover:text-accent mt-2 inline-block">0868866967</span>
          </div>
        </div>
        <div class="flex space-x-4 mt-8">
          <div class="flex pt-1 bg-purple-600 rounded-lg">
            <mat-icon color="accent">mail_outline</mat-icon>
          </div>
          <div class="flex-1">
            <span class="text-gray-300 font-semibold">Gmail: </span>
            <br />
            <span  class="text-gray-300 font-semibold hover:text-accent mt-2 inline-block">coffehouse.12@example.com</span>
          </div>
        </div>
        <div class="flex space-x-4 mt-8">
          <div class="flex pt-1 bg-purple-600 rounded-lg">
            <mat-icon color="accent">map</mat-icon>
          </div>
          <div class="flex-1">
            <span class="text-gray-300 font-semibold">Địa chỉ: </span><br/>
            <span class="text-gray-300 hover:text-accent font-semibold">
              120/34/68, Trần Phú, Hà Nội, Việt Nam
            </span>
          </div>
        </div>
      </div>
      <div class="col-span-12 mt-5">
        <ll-google-location-map></ll-google-location-map>
      </div>
    </div>
  </div>
</div>

