<div>
	<!-- User Start -->
	<div class="flex flex-wrap">
		<div class="flex space-x-3 bg-primary rounded-md px-5 py-3 w-full sm:w-1/2">
			<div class="w-16 h-16 rounded-full overflow-hidden shadow-md">
				<img src="https://i.pinimg.com/474x/be/99/f3/be99f312d032e1dc160a5a8ee3bfff82.jpg" alt="" class="w-full h-full object-cover">
			</div>
			<div class="text-white">
				<h5>{{full_name}}</h5>
				<p class="leading-normal text-white">
					<span class="font-medium">Gmail: </span>{{gmail}}</p>
			</div>
		</div>
		<div class="w-full sm:w-1/2 sm:pl-5 mt-5 mmd:t-0">
			<p>
				<strong>Trường đại học đã học</strong>: {{university}}</p>
			<p class="mt-1">
				<strong>Chuyên ngành</strong>: {{major}}</p>
		</div>
	</div>
	<!-- User End -->
	<!-- User Meta Start -->
	<!-- <div class="border bg-white mt-8 rounded-md">
		<div class="flex p-4 bg-gray-200">
			<h6 class="text-normal">Primary Information</h6>
			<button class="text-blue-400 hover:text-accent ml-auto flex items-center">
				<mat-icon class="_edit_icon mr-2">edit</mat-icon>
				Edit</button>
		</div>
		<div class="flex flex-wrap p-4">
			<div class="w-full sm:w-1/2">
				<div class="ll-dataset">
					<div class="ll-dataset__label">
						Email:
					</div>
					<div class="ll-dataset__value">
						example@mail.com
					</div>
				</div>
				<div class="ll-dataset mt-4">
					<div class="ll-dataset__label">
						Number:
					</div>
					<div class="ll-dataset__value">
						+880-12121-212123
					</div>
				</div>
			</div>
			<div class="w-full sm:w-1/2 mt-4 sm:mt-0">
				<div class="ll-dataset">
					<div class="ll-dataset__label">
						Username:
					</div>
					<div class="ll-dataset__value">
						abraham_lincoln
					</div>
				</div>
				<div class="ll-dataset mt-4">
					<div class="ll-dataset__label">
						Business Role:
					</div>
					<div class="ll-dataset__value">
						Buyer
					</div>
				</div>
			</div>
		</div>
	</div> -->
	<!-- User Meta End -->
	<!-- User Meta Start -->
	<div class="border bg-white mt-8 rounded-md">
		<div class="flex p-4 bg-gray-200">
			<h6 class="text-normal">Thông tin cá nhân: </h6>
			<button class="text-blue-400 hover:text-accent ml-auto flex items-center" (click)="toggleModal()">
				<mat-icon class="_edit_icon mr-2">edit</mat-icon>
				Sửa thông tin cá nhân</button>
				<button class="text-blue-400 hover:text-accent ml-auto flex items-center" (click)="openModalChangePassword()">
					<mat-icon class="_edit_icon mr-2">edit</mat-icon>
					Đổi mật khẩu</button>
		</div>
		<div class="flex flex-wrap p-4">
			<div class="w-full sm:w-1/2">
				<div class="ll-dataset">
					<div class="ll-dataset__label">
						Họ tên: 
					</div>
					<div class="ll-dataset__value">
						{{full_name}}
					</div>
				</div>
				<div class="ll-dataset mt-4">
					<div class="ll-dataset__label">
						Tên đăng nhập:
					</div>
					<div class="ll-dataset__value">
						{{user_name}}
					</div>
				</div>
				<div class="ll-dataset mt-4">
					<div class="ll-dataset__label">
						Giới tính
					</div>
					<div class="ll-dataset__value">
						{{gender}}
					</div>
				</div>
				<div class="ll-dataset mt-4">
					<div class="ll-dataset__label">
						Ngày sinh:
					</div>
					<div class="ll-dataset__value">
						{{birthDate}}
					</div>
				</div>
			</div>
			<div class="w-full sm:w-1/2 mt-4 sm:mt-0">
				<div class="ll-dataset">
					<div class="ll-dataset__label">
						Số điện thoại: 
					</div>
					<div class="ll-dataset__value">
						{{phone}}
					</div>
				</div>
				<div class="ll-dataset mt-4">
					<div class="ll-dataset__label">
						Tên công ty hiện tại
					</div>
					<div class="ll-dataset__value">
						{{nameCompany}}
					</div>
				</div>
				<div class="ll-dataset mt-4">
					<div class="ll-dataset__label">
						Chức vụ
					</div>
					<div class="ll-dataset__value">
						{{position}}
					</div>
				</div>
				<div class="ll-dataset mt-4">
					<div class="ll-dataset__label">
						Ngày bắt đầu làm
					</div>
					<div class="ll-dataset__value">
						{{dateStartWork}}
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- User Meta End -->
</div>

<div *ngIf="showModal" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
  <div class="relative w-auto my-6" style="max-width: 800px; width: 800px;">
    <!--content-->
    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
      <!--header-->
      <div class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t">
        <h3 class="text-3xl font-semibold">
          Sủa thông tin cá nhân
        </h3>
        <button class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none" (click)="toggleModal()">
          <span class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
							<path stroke-linecap="round" stroke-linejoin="round" d="M7.864 4.243A7.5 7.5 0 0 1 19.5 10.5c0 2.92-.556 5.709-1.568 8.268M5.742 6.364A7.465 7.465 0 0 0 4.5 10.5a7.464 7.464 0 0 1-1.15 3.993m1.989 3.559A11.209 11.209 0 0 0 8.25 10.5a3.75 3.75 0 1 1 7.5 0c0 .527-.021 1.049-.064 1.565M12 10.5a14.94 14.94 0 0 1-3.6 9.75m6.633-4.596a18.666 18.666 0 0 1-2.485 5.33" />
						</svg>
						
          </span>
        </button>
      </div>
      <!--body-->
      <div class="relative p-6 flex-auto">
        <div class="my-4 text-blueGray-500 text-lg leading-relaxed">
          

<form class="">
	<div class="relative w-full mb-5 group">
		<input type="text" name="name" id="name" class="w-full px-0 block my-4 text-xl w-full text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
		<label for="name" class="peer-focus:font-medium absolute text-xl text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Họ tên: </label>
</div>
<div class="relative w-full mb-5 group mt-1">
	<input type="text" name="email" id="email" class="w-full px-0 mt-2 block my-4 text-xl w-full text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
	<label for="email" class="peer-focus:font-medium absolute text-xl text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email: </label>
</div>
<div class="relative w-full mb-5 group">
		<input type="text" name="phonenumber" id="phonenumber" class="block px-0 w-full text-xl text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
		<label for="phonenumber" class="peer-focus:font-medium absolute text-xl text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Số điện thoại</label>
</div>
  <!-- <div class="grid md:grid-cols-2 md:gap-6">
    <div class="relative z-0 w-full mb-5 group">
        <input type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" name="floating_phone" id="floating_phone" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
        <label for="floating_phone" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Phone number (123-456-7890)</label>
    </div>
    <div class="relative z-0 w-full mb-5 group">
        <input type="text" name="floating_company" id="floating_company" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
        <label for="floating_company" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Company (Ex. Google)</label>
    </div>
  </div> -->
  <!-- <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button> -->
</form>

        </div>
      </div>
      <!--footer-->
      <div class="flex items-center justify-end p-6 border-t border-solid border-blueGray-200 rounded-b">
        <button class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="toggleModal()">
          Hủy
        </button>
        <button class="bg-emerald-500 text-white active:bg-emerald-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="toggleModal()">
          Xác nhận
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>`

<div *ngIf="showModalChangePasword" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
  <div class="relative w-auto my-6" style="max-width: 800px; width: 800px;">
    <!--content-->
    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
      <!--header-->
      <div class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t">
        <h3 class="text-3xl font-semibold">
          Đổi mật khẩu
        </h3>
        <button class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none" (click)="openModalChangePassword()">
          <span class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
							<path stroke-linecap="round" stroke-linejoin="round" d="M7.864 4.243A7.5 7.5 0 0 1 19.5 10.5c0 2.92-.556 5.709-1.568 8.268M5.742 6.364A7.465 7.465 0 0 0 4.5 10.5a7.464 7.464 0 0 1-1.15 3.993m1.989 3.559A11.209 11.209 0 0 0 8.25 10.5a3.75 3.75 0 1 1 7.5 0c0 .527-.021 1.049-.064 1.565M12 10.5a14.94 14.94 0 0 1-3.6 9.75m6.633-4.596a18.666 18.666 0 0 1-2.485 5.33" />
						</svg>
						
          </span>
        </button>
      </div>
      <!--body-->
      <div class="relative p-6 flex-auto">
        <div class="my-4 text-blueGray-500 text-lg leading-relaxed">
          

<form class="">
	<!-- <div class="grid md:grid-cols-2 md:gap-6">
    <div class="relative z-0 w-full mb-5 group">
        <input type="text" name="floating_first_name" id="floating_first_name" class="block py-2.5 px-0 w-full text-lg text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
        <label for="floating_first_name" class="peer-focus:font-medium absolute text-lg text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 pee peer-focus:-translate-y-6">First name</label>
    </div>
    <div class="relative z-0 w-full mb-5 group">
        <input type="text" name="floating_last_name" id="floating_last_name" class="block py-2.5 px-0 w-full text-lg text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
        <label for="floating_last_name" class="peer-focus:font-medium absolute text-lg text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Last name</label>
    </div>
  </div> -->
  <div class="relative w-full mb-5 group">
      <input type="password" name="floating_email" id="floating_email" class="w-full px-0 block my-4 text-xl w-full text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
      <label for="floating_email" class="peer-focus:font-medium absolute text-xl text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Nhập mật khẩu cũ: </label>
  </div>
  <div class="relative w-full mb-5 group mt-1">
		<input type="password" name="floating_email" id="floating_password" class="w-full px-0 mt-2 block my-4 text-xl w-full text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
		<label for="floating_password" class="peer-focus:font-medium absolute text-xl text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Nhập mật khẩu mới: </label>
</div>
  <div class="relative w-full mb-5 group">
      <input type="password" name="repeat_password" id="floating_repeat_password" class="block px-0 w-full text-xl text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
      <label for="floating_repeat_password" class="peer-focus:font-medium absolute text-xl text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Xác nhận mất khẩu mới</label>
  </div>

  <!-- <div class="grid md:grid-cols-2 md:gap-6">
    <div class="relative z-0 w-full mb-5 group">
        <input type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" name="floating_phone" id="floating_phone" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
        <label for="floating_phone" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Phone number (123-456-7890)</label>
    </div>
    <div class="relative z-0 w-full mb-5 group">
        <input type="text" name="floating_company" id="floating_company" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
        <label for="floating_company" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Company (Ex. Google)</label>
    </div>
  </div> -->
  <!-- <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button> -->
</form>

        </div>
      </div>
      <!--footer-->
      <div class="flex items-center justify-end p-6 border-t border-solid border-blueGray-200 rounded-b">
        <button class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="openModalChangePassword()">
          Hủy
        </button>
        <button  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="button" (click)="openModalChangePassword()">
          Xác nhận
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showModalChangePasword" class="opacity-25 fixed inset-0 z-40 bg-black"></div>`
<!-- <ng-template #content role="document" let-modal="close">
	<div class="modal-header">
			<h5 class="modal-title">{{(formData.value.id ? "Chỉnh sửa" : "Thêm mới") | translate}}</h5>
			<button type="button" class="close" aria-label="Close" (click)="modal('Cross click')">
					<span aria-hidden="true">&times;</span>
			</button>
	</div>
	<div class="modal-body p-3">
			<div class="text-left">
					<form (ngSubmit)="saveData()" [formGroup]="formData">
							<div class="row">
									<div class="form-group row col-md-12">
											<label class="col-md-2 col-form-label required_label">{{'Họ tên' | translate}}</label>
											<div class="col-md-10">
													<input type="text" class="form-control" formControlName="full_name"
															[ngClass]="{'is-invalid': submitted && form.full_name.errors}" />
												
											</div>
									</div>
									<div class="form-group row col-md-12">
											<label class="col-md-2 col-form-label required_label">{{'Địa chỉ' | translate}}</label>
											<div class="col-md-10">
													<input type="text" class="form-control" formControlName="address"
															[ngClass]="{'is-invalid': submitted && form.address.errors}" />
												
											</div>
									</div>
									<div class="form-group row col-md-12">
											<label class="col-md-2 col-form-label required_label">{{'Số điện thoại' | translate}}</label>
											<div class="col-md-10">
													<input type="text" class="form-control" formControlName="phone"
															[ngClass]="{'is-invalid': submitted && form.phone.errors}" />
												
											</div>
									</div>
									<div class="form-group row col-md-12">
											<label class="col-md-2 col-form-label required_label">{{'Trạng thái' | translate}}</label>
											<div class="col-md-10">
													<select class="form-select" aria-label="Default select example" class="form-control" formControlName="status"  [ngClass]="{'is-invalid': submitted && form.status.errors}">
															<option value="{{item}}" *ngFor="let item of listStatus" >{{item}}</option>
													</select> 
											</div>
									</div>
									<div class="form-group row col-md-12">
											<label class="col-md-2 col-form-label required_label">{{'Phân quyền' | translate}}</label>
											<div class="col-md-10">
													<select class="form-select" aria-label="Default select example" class="form-control" formControlName="role_name"  [ngClass]="{'is-invalid': submitted && form.role_name.errors}">
															<option value="{{item}}" *ngFor="let item of listRole" >{{item}}</option>
													</select> 
												
											</div>
									</div>  
							</div>          

							<div class="text-right">
									<button type="button" class="btn btn-secondary btn-sm mr-3"
											(click)="modal('close click')">{{'Đóng' | translate}}</button>
									<button type="submit" class="btn btn-primary btn-sm">{{'Lưu' | translate}}</button>
							</div>
					</form>
			</div>
	</div>
</ng-template> -->
