<div class="pt-40 pb-10 bg-gray-100 text-center">
  <div class="container">
    <h3>SẢN PHẨM KHUYẾN MÃI</h3>
    <!-- <nav class="breadcrumb flex justify-center items-center">
      <a class="px-1 mr-3 text-gray-500 hover:text-black" [routerLink]="'/'">Home</a>
      <a class="px-1" href="javascript:void(0)" class="text-accent">Contact</a>
    </nav> -->
  </div>
</div>
<div class="">
  <div class="container">
    <div class="grid grid-cols-12 gap-6 xxl:gap-8">
      <div class="col-span-12 md:col-span-6 xl:col-span-3">
        <mat-card class="ll-product">
          <img src="https://lh3.googleusercontent.com/proxy/JHlSsl017VnQmMzT6R6StAHt3giOsvLPwf12kTnzRmOtn1F3zQE8VPbP35AsWh_u4G8rKi109vt8LjYO431iQlRto6XP_99mJ7dHbhTrP4M7SobQ553fXLpDJRpbn0rDCNCpdyWPug" style="width: 100%; margin: 0 0 20px" />
          <mat-card-content class="flex">
            <div class="flex-grow pl-3">
              <h2 class="ll-product__name">
                <a>Sản phẩm Khuyến Mãi 1</a>
              </h2>
              <div class="flex justify-between mt-5">
                <div class="ll-product__price-label">Giá:</div>
                <div class="ll-product__price font-bold"><small><del class="text-accent">46.000 </del></small>/<span class="text-green-700">33.000</span></div>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions class="ll-product__action flex justify-between">
            <div class="flex-1 text-center flex items-center justify-center">
            </div>
            <div class="flex-1 text-center">
              <a mat-raised-button color="warn" class="px-4">Chi tiết</a>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <!-- <div *ngIf="!isLoaded">
      <ngx-skeleton-loader 
        count="9"
        appearance="circle"
        [theme]="{ 
          'border-radius': '5px',
          height: '280px',
          width: 'calc(33% - 10px)'
        }"
      ></ngx-skeleton-loader>
    </div> -->
  </div>
</div>


